body {
    background-color: #fffbee;
  }

  canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    display: block;
  }

  .blurred-section {
    max-width: 750px;
    width: 90%;
    margin: 1px auto;
    padding: 1px 2px;
    padding-bottom: 150px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.041); /* semi-transparent */
    backdrop-filter: blur(4px);        /* the blur effect */
    -webkit-backdrop-filter: blur(8px); /* for Safari */
    box-shadow: 0 4px 32px rgba(0,0,0,0.08);
    position: relative;
    z-index: 1;
  }
  
  h1 {
    max-width: 600px;
    width: 90%;
    margin: 15px auto;
    display: block;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.842)/*#F1EDE0*/;
    padding-top: 2%;
    padding-bottom: 0.5%;
    /*padding: 2% 5% 0.5% 5%;*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: white/*#0A1A2C*/;
    text-align: center;
    position: relative;
    z-index: 1;
  }

  h2 {
    max-width: 600px;
    width: 90%;
    margin: 30px auto;
    display: block;
    text-align: center;
    border-radius: 5px;
    background-color: #f7f5ef9f;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: black/*#0A1A2C*/;
    text-align: center;
    font-size: 18px;
    margin-top: -10px;
    position: relative;
    z-index: 1;
    /*border-color: black;
    border-width: 1px;
    border-style: solid;
    */
  }

  h3 {
    max-width: 600px;
    width: 90%;
    margin: 30px auto;
    display: block;
    text-align: center;
    border-radius: 5px;
    background-color: #f7f5efea;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: black/*#0A1A2C*/;
    position: relative;
    z-index: 1;
  }

  .button {
    max-width: 600px;
    width: 40%;
    margin: 30px auto;
    display: block;
    text-align: center;
    border-radius: 8px;
    background-color: #f1ede0e5;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black/*#0A1A2C*/;
    text-align: center;
    font-size: 15px;
    border-radius: 8px;
    transition: background 0.3s, color 0.3s;
    cursor: pointer;
    position: relative;
    z-index: 1;
    text-decoration: none;
    border-color: gray;
    border-width: 0.5px;
    border-style: solid;
  }

  .button:hover {
    background-color: #0A1A2C;
    color: #F1EDE0;
    border-style: none;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
